  body {
    box-sizing: border-box;
    background: linear-gradient(to bottom, white, white) fixed no-repeat;
  }

  ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    overflow: hidden; 
  }
  
  li {
    float: left;
    background-color: #ffffffa1;
  }
  
  li a {
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    margin: 0;
    background-color:#ffffff7e;
    color: rgb(16, 14, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
  }

  /*.drop-content {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffa47a;
    color: black;
  }

  li a.drop:hover  .drop-content {
    position: absolute;
    display: block;
  }*/

  li:hover, li a:hover {
    background-image: linear-gradient(to bottom, rgb(255, 148, 77), rgb(235, 94, 0));
    background-repeat: no-repeat;
    color: #ffffff;
  }

  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: rgb(16, 14, 90);
    margin-top: 56px;
  }

  h4 {
    text-align: center;
    font-size: 24;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(202, 103, 11);
  }

  .img-a-esquerda {
    color: rgb(16, 14, 90);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  p sup {
    font-size: xx-small;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 26px;
    width: 60%;
    margin: auto;
    line-height: 1.5;
  }

  p.inform {
    color: rgb(200, 0, 50);
    text-indent: 0;

  }

  img.logo {
    max-width: 20%;
    max-height: 20%;
    /*float: left;
    position: sticky;
    top: 0;
    margin-top: 0;*/
  }

  .img {
    float: right;
    margin-right: 0;
  }
  
  .img img#working {
    max-width: 50%;
    max-height: 50%;
    position: relative;
    border: 5px inset rgb(51, 51, 51);
    border-bottom: none;
    border-right: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.521);
  }

  img.working {
    margin-left: 278px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.521);
    border: 2px inset grey;
    border-bottom: none;
    border-right: none;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .img .legend {
    text-indent: 0;
    display: block;
    position: absolute;
    font-size: 15px;
    margin-right: 0;
  }

  img#duvida {
    float: left;
    max-width: 10%;
    max-height: 10%;
    margin-top: 58px;
    margin-left: 10%;
    margin-right: 10%;
  }
  div.paragraph {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
    margin-left: 10px;
    color: rgb(119, 70, 42);
  }
  
  div.sv1, .sv2{
    margin: auto;
    margin-top: 150px;
    width: 50%;
    border: 3px inset #ffa47a;
    border-radius: 20px;
    border-bottom: none;
    border-right: none;
    background-image: linear-gradient(135deg, white, 20%, rgba(255, 168, 86, 0.712), white);
  }

  div.sv1 img {
    width: 200px;
    height: 100px;
  }

  p.eduardo {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: rgb(235, 94, 0);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
  }

  em {
    float: right;
  }

  .frase-de-efeito {
    border: 3px inset #ffa47a;
    border-radius: 20px;
    border-bottom: none;
    border-right: none;
    width: 80%;
    margin: auto;
    margin-top: 10%;
  }

  .forma {
    border: 3px inset #ffa47a;
    border-radius: 20px;
    border-bottom: none;
    border-right: none;
    width: 60%;
    margin: auto;
    padding:60px;
  }